/****** Footer ******/
#colophon {
    min-height: 320px;
    margin-top: 50px;

    .limiter {
        max-width: 1180px;
        padding: 60px 20px 0;
    }

    .footer__nav {
        display: inline-block;
        margin-bottom: 15px;
        vertical-align: top;
        li {
            padding-bottom: 20px;
            a {
                color: #979797;
                display: inline-block;
                font-size: 0.8em;
                &:hover {
                    text-decoration: underline;
                }
            }
            svg {
                display: inline-block;
                vertical-align: middle;
            }
            &.icon {
                padding: 0 20px;
            }
        }
    }

    .footer__links {
        padding-left: 30px;
        a {
            margin-right: 15px;
        }
    }

    .footer__logo {
        padding: 0 40px 0 15px; 
        img {
            height: 30px;
        }
    }

    .footer__copy {
        color: #979797;
        font-size: 0.8em;
        text-align: center;

        cite {
            font-style: normal;
        }
    }
}
            