/****** Header ******/
#branding {
	height: 70px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.19);

	.limiter {
		line-height: 4.7;
		max-width: 1180px;
		padding: 0 20px;
	}

	.logo {
		display: inline-block;
		vertical-align: middle;
		a {
			display: inline-block;
			font-size: 0;
			margin-top: -9px;
			vertical-align: middle;
		}
	}
}

#navigation {
	float: right;
	margin-left: 50px;
	vertical-align: middle;

	li {
		padding-left: 30px;
		line-height: 3.7;

		a {
			color: @grey-brown;
			font-size: 1.2em;
			font-weight: 600;

			&:hover {
				color: #000;
			}
		}
	}
}
