extends extends/base

block content

    include mixins/why-item
    include mixins/feature
    include mixins/operation
    include mixins/tab-details
    include mixins/post
    include mixins/faq
    
    section#body
        #banner-head
            .limiter
                .row
                    .col-xs-12.col-sm-6.col-md-6
                        h1.title Sights <small>by Educasic</small>
                        h2.subtitle.
                            The world’s 1<sup>st</sup> classroom connected sight word platform.
                        p.description.
                            1 in 4 children in the U.S. grow up  without learning to read. 
                            That’s not okay with us.
                            
                    .col-xs-12.col-sm-6.col-md-6
                        figure.image
                            img(src="/assets/images/devices-web-2x.png", alt="devices")
        

        include includes/_subnavigation
        
        #watch
            figure.watch__image(style="background-image: url(/assets/images/teen-girl-learning.jpg)")
            .watch__actions
                button.watch__play
                h2.watch__text Watch Sights in Action
        

        #why
            .limiter
                h2.why__title  Why Sights?
                .row
                    each item in data.whyItems
                        +item(item)
                
                .why__actions
                    a(href="#") 
                        ='Tell me more'
                        br
                        span.arrow
                            i.fa.fa-3x.fa-angle-down(aria-hidden="true")
        

        #teachers.forPeople
            figure.forPeople__bg(style="background-image: url(/assets/images/laptop_on_desktop.jpg)")
            
            .forPeople__content
                h2.forPeople__title. 
                    <strong>Sights</strong> <br> for teachers
                
                ul.forPeople__features.row.unstyled
                    each feature in data.teacher
                        +feature(feature)

                .forPeople__actions
                    a.btn(href="#") Start your free trial
        
        .list-operations
            .limiter
                .row
                    each operation in data.operations
                        +operation(operation)
        
        #parents.forPeople
            figure.forPeople__bg(style="background-image: url(/assets/images/laptop_on_desktop.jpg)")
            
            .forPeople__content
                h2.forPeople__title. 
                    <strong>Sights</strong> <br> for parents
                
                ul.forPeople__features.row.unstyled
                    each feature in data.teacher
                        +feature(feature)

                .forPeople__actions
                    a.btn(href="#").
                        <i class="fa fa-apple" aria-hidden="true"></i> 
                        Apple Store
                    a.btn(href="#").
                        <i class="fa fa-android" aria-hidden="true"></i> 
                        Google Play

        #details.details
            .limiter
                h2.details__title Pricing + Details
                ul.tabs.unstyled-list
                    li.anchor
                        a.active(href="tab_1", data-px="0%") Princing
                    li.anchor
                        a(href="tab_2", data-px="33%") Student Data
                    li.anchor
                        a(href="tab_3", data-px="75%") Low Income
                    li.line
                        span.indicator
                .tab-content
                    each tab in data.tabs
                        +tab-details(tab)
                    
        #blog
            .limiter
                .row
                    each post in data.posts
                        +post(post)
        
        include includes/_need-to-read

        aside#help-faq
            .limiter
                h2.help__title.
                    HELPFUL FAQs

                each faq in data.faqs
                    +faq(faq)

                .help__actions
                    a.btn.see-more.
                        see all faqs
        
        #other-links
            .limiter
                .row
                    .col-xs-12.col-sm-6.col-md-3
                        figure.image
                            img(src="/assets/images/learn_1.jpg", alt="image learn")

                    .col-xs-12.col-sm-6.col-md-3
                        figure.image
                            img(src="/assets/images/learn_1.jpg", alt="image learn")

                    .col-xs-12.col-sm-6.col-md-3
                        figure.image
                            img(src="/assets/images/learn_1.jpg", alt="image learn")
                            
                    .col-xs-12.col-sm-6.col-md-3
                        figure.image
                            img(src="/assets/images/learn_1.jpg", alt="image learn")