extends extends/base

block content

    include mixins/why-item
    
    section#body
        #banner-head
            .limiter
                .row
                    .col-xs-12.col-md-6
                        h1.title Sights <small>by Educasic</small>
                        h2.subtitle.
                            The world’s 1<sup>st</sup> classroom connected sight word platform.
                        p.description.
                            1 in 4 children in the U.S. grow up  without learning to read. 
                            That’s not okay with us.
                            
                    .col-xs-12.col-md-6
                        figure.image
                            img(src="/assets/images/devices-web-2x.png", alt="devices")
        
        
        #sub-navigation
            .limiter
                ul.unstyled-list
                    li
                        a.active(href="#watch", class="active") Watch
                    li
                        a(href="#why") Why Sights
                    li
                        a(href="#") Teachers
                    li
                        a(href="#") Parents
                    li
                        a(href="#") PRICING + DETAILS
                    li
                        a(href="#") Blog
                
                a(href="#").btn-suscribe Subscribe
        
        #watch
            figure.watch__image(style="background-image: url(/assets/images/teen-girl-learning.jpg)")
            .watch__actions
                button.watch__play
                h2.watch__text Watch Sights in Action
        
        #why
            .limiter
                h2.why__title  Why Sights?
                .row
                    each item in data.whyItems
                        +item(item)
                
                .why__actions
                    a(href="#") 
                        ='Tell me more'
                        br
                        span.arrow
                            i.fa.fa-3x.fa-angle-down(aria-hidden="true")

                    
                    

