/****** Home ******/
#body {
    .limiter {
        max-width: 1180px;
        padding: 0 20px;
    }
}

#banner-head {
    margin: 100px 0 50px;

    .limiter {
        width: 1000px;
    }

    .title {
        color: #1dd7ff;
        font-size: 4.5em;
        font-weight: 900;
        margin-bottom: 25px;
        small {
            color: @grey-brown;
            font-size: 0.388em;
        }
    }

    .subtitle {
        color: @grey-brown;
        font-size: 1.8em;
        font-weight: 600;
        line-height: 1.21;
        margin-bottom: 20px;
    }

    .description {
        color: @grey-brown;
        font-size: 1.25em;
        line-height: 1.35;
        padding-right: 30px;
    }
}
