footer#colophon
    .limiter
        .row
            .col-xs-12.col-sm-7.col-md-8
                nav.footer__nav
                    ul.menu.unstyled-list
                        li.footer__logo
                            a(href="/")
                                img(src="/assets/images/logo_footer.svg", alt="Sights Logo")
                        li.icon
                            a(href="#")
                                svg.icon-fb(width="11", height="22")
                                    use(xlink:href="/assets/images/icons/fb.svg#i-fb")
                            
                        li.icon
                            a(href="#")
                                svg.icon-fb(width="19", height="17")
                                    use(xlink:href="/assets/images/icons/tw.svg#i-tw")
                        li.icon
                            a(href="#")
                                svg.icon-fb(width="25", height="22")
                                    use(xlink:href="/assets/images/icons/m.svg#i-m")
                        li.icon
                            a(href="#")
                                svg.icon-fb(width="22", height="22")
                                    use(xlink:href="/assets/images/icons/pint.svg#i-pint")
                        li.icon
                            a(href="#")
                                svg.icon-fb(width="20", height="21")
                                    use(xlink:href="/assets/images/icons/inst.svg#i-inst")

                        li.footer__links
                            a(href="#") FAQ

                            a(href="#") Contact

                            
            .col-xs-12.col-sm-5.col-md-4                
                .footer__copy
                    cite &copy; 2017 Educasic. All rights reserved    
                