footer#colophon
    .limiter
        .row
            .col-xs-12.col-sm-7.col-md-8
                nav.footer__nav
                    ul.menu.unstyled-list
                        li.footer__logo
                            a(href="#")
                                img(src="/assets/images/logo_footer.svg", alt="Sights Logo")
                        li
                            a(href="#") FB
                        li
                            a(href="#") TW
                        li
                            a(href="#") M
                        li
                            a(href="#") P
                        li
                            a(href="#") Inst
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") Contact

                            
            .col-xs-12.col-sm-5.col-md-4                
                .footer_copy
                    cite Copyright © 2016 Gordon's Travel Guide.     
                