header#branding
    .limiter
        figure.logo
            a(href="/", title="Home")
                img(src="/assets/images/logo.svg", alt="Sights Logo")

        include ./_navigation

        button#open-menu.visible-xs
            i.fa.fa-bars(aria-hidden="true")
