nav#navigation

    button#close-menu.visible-xs
        i.fa.fa-remove(aria-hidden="true")

    ul.menu.unstyled-list
        li
            a(href="#") Log in 
        li
            a(href="#") Sign up 
        li
            a(href="#") Contact