#need-to-read
    .limiter
        h2 Need to read
        p.
            The 1 in 4 U.S. children that grow up without learning to read will never realize 
            their full potential. Our Need to Read campaign is a reminder that children of all 
            backgrounds deserve a shot at their dreams, and learning to read is their first step 
            to achieving those dreams.

        .row.list-images
            .col-xs-6.col-sm-4.col-md-3
                figure
                    img(src="/assets/images/children/child_1.jpg", alt="image child")
            .col-xs-6.col-sm-4.col-md-3
                figure
                    img(src="/assets/images/children/child_2.jpg", alt="image child")
            .col-xs-6.col-sm-4.col-md-3
                figure
                    img(src="/assets/images/children/child_3.jpg", alt="image child")
            .col-xs-6.col-sm-4.col-md-3
                figure
                    img(src="/assets/images/children/child_4.jpg", alt="image child")
            
            .col-xs-6.col-sm-4.col-md-3
                figure
                    img(src="/assets/images/children/child_1.jpg", alt="image child")
            .col-xs-6.col-sm-4.col-md-3
                figure
                    img(src="/assets/images/children/child_2.jpg", alt="image child")
            .col-xs-6.col-sm-4.col-md-3
                figure
                    img(src="/assets/images/children/child_3.jpg", alt="image child")
            .col-xs-6.col-sm-4.col-md-3
                figure
                    img(src="/assets/images/children/child_4.jpg", alt="image child")