#sub-navigation
    .limiter
        ul.unstyled-list
            li
                a.active(href="#watch", class="active") Watch
            li
                a(href="#why") Why Sights
            li
                a(href="#teachers") Teachers
            li
                a(href="#") Parents
            li
                a(href="#") PRICING + DETAILS
            li
                a(href="#") Blog
        
        a(href="#").btn-suscribe Subscribe